@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather+Sans:wght@700&family=Noto+Sans&display=swap');
// Colors:
$background-color: #EDEDE4;
$primary-color: #DA1E37;
$primary-color-blend-1: #DB3147;
$primary-color-blend-2: #E38D99;
$primary-color-blend-3: #E8B5B5;
$primary-bg-text-color: #EAEAEA;


// Fonts:
$title-font: 'Merriweather Sans', sans-serif;
$main-font: 'Inter', sans-serif;
$secondary-font: 'Noto Sans', sans-serif;